<div class="container">
    <div class="row">
        <div class"col text-center">
            <img class="tengah" src="foto.JPG" alt="nida" width="100">
            <div class="aligncenter">
            <h1 class="display-4">Nida Khairunnisa Kusumawardhani<h1>
            <p class="lead"> </p>    
            </div>
        </div>
    </div>
</div>
    <!-- <h1></h1>
    <p>this is about page</p> -->
