<div class="container mt-3">
  <div class="row">
    <div div class="col-md-6">
      <h2>Add new Admin form</h2>
      <% if (typeof notif != 'undefined') { %>
        <% notif.forEach(function (alert)  { %>
          <div class="alert alert-danger" role="alert">
            <%= alert.msg %>
          </div>
          <%})%>
      <% } %>  
      <form method="post" action="/customer">
        <div class="form-group">
          <label for="labelname">Name</label> 
          <input type="text" class="form-control" id="labelname" name="name_admin" aria-describedby="nameHelp" placeholder="Enter Name" required /> 
        </div>
        <div class="form-group">
            <label for="labelemail1">Email address</label>
            <input type="text" class="form-control" id="labelemail1" name="email_admin" aria-describedby="emailHelp" placeholder="Enter email" required />
          </div>
        <div class="form-group">
          <label for="mobile">Mobile</label>
          <input type="text" class="form-control" id="labelmobile" name="mobile_admin" placeholder="Enter mobile"required />
        </div>
        <div class="form-group">
          <label for="mobile">Passwprd</label>
          <input type="text" class="form-control" id="labelpassword" name="password_admin" placeholder="Enter password"required />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>


