<div class="aligncenter">
    <h1><%= page %></h1>
</div>


    <a id = "add" class="btn btn-success" href="/add_product" role="button">Add Contact</a>
    <table class="table">
        <thead class>
		<tr>
			<th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">detail</th>
		</tr>
		
        <tr>  
            <td><% %></td> 
            <td><% %></td>
            <td><a id = "detail" class="btn btn-success" href="/detail_product" role="button">Detail</a></td>
		</tr>
    </table>

